*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside{
  flex: 0.3;
  position: relative;
  background-image: url("../img/cover.jpg");
  background-size: cover;  
}

aside .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(243, 237, 237, 0.6);
}

section{
   display: flex;  
   flex-direction: row;  
   flex-wrap: wrap;
   flex:1;
}

.photo {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 0 2px 2px;
    flex: 1 1 48%;
}
img{
    width: 100%;
    height: 100%;
}

.top {
    position: absolute;
    margin: 30px;
    flex:1;
}

.top h1{
    padding: 20px;
    font-size: 50px ;
}

.top h3 {
    padding:15px;
    font-size:18px;  

}

.top li {
    list-style-type: none;
    padding: 10px;
    display:flex;
    flex-direction:row;
}

.top>ul {
    margin-top:25px;
}

footer ul {
    list-style-type: none;
    font-size:30px;
    padding: 30px 0 15px 0;
}

footer p {
    margin-bottom: 10px;
    font-size: 12px;
    margin-bottom: 35px;
}


.contenedor{
    display:flex;
    justify-content:space-between;
    position:absolute;
    background: rgba(20, 20, 20, 0.3);
    width: 100%;
    height: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color:white;
    padding:15px;
}

.text>p {
    color:#FF9900;
    font-size:16px;

}
.corner{
    display: flex;
    align-self: flex-end;
}

footer{
    background-color: #202020;
    align-content: center;
    text-align: center;
    color:#5F5F5F;
    padding: 10px;
}
.wrapper{
  flex-wrap: wrap;
  flex:1;
}

footer ul {
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
}

footer ul li {
    width: 5%;
}

.paginator{
    display: flex;
    padding:20px;
    justify-content:space-between;
}


footer a:link{
    text-decoration: none;
    color:#202020;
}


.top a:link{
    text-decoration: none;
    color:black;
}

.submenu a:visited {
    color: white;
}

a:visited{
    color: black;
}

footer a:visited{
    color:#5F5F5F;
}

.top a:hover{
    color:#f1c40f;
}

.submenu{
    display: none;
    background-color:#202020;
    padding:10px;
    position: absolute;
    color:white;
    margin-left:75%;
    z-index: 2;
    width:100%;
}


li:hover ul {
   display: block;

}

.line{
    width: 100%;
    height: 1%;
    position: absolute;
    background-color: #f1c40f;
}


